/* red: d02f2f */


body {
  padding: 0;
  margin: 0;
}

h2 {
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  float: left;
  width: 50%;
}

blockquote {
  margin-top: 0;
}

/* ------ colors ------ */

.red {
  color: #d02f2f;
}
.dark-gray {
  color: #333;
}
.light-gray {
  color: #efefef;
}
.white {
  color: #fff;
}

/* ---- typeography ---- */

.default-text {
  font-family: "ff-enzo-web",sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
}

.subhead-text {
  font-family: "freight-sans-pro",sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.large {
  font-size: 26px;
}
@media screen and (min-width: 1042px) {
  .large {
    font-size: 36px;
  }
}
.small {
  font-size: 12px;
}
.italic {
  font-style: italic;
}

/* ------ layout ------ */

.clearfix:after {
  display: table;
  content: " ";
  clear: both;
}
.clearfix {
    display: inline-block;
}
.clearfix {
    display: block;
}
.wrapper {
  width: 100%;
}
.wrapper .inner {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0;
}
.primary, .secondary {
  float: left;
  width: 100%;
  margin-bottom: 40px;
}
.secondary {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .primary {
    width: 50%;
  }
  .secondary {
    width: 35%;
    padding-left: 15%;
  }
}





/* -- header -- */
.header-wrapper {
  border-top: 4px solid #d02f2f;
  min-height: 100px;
}

/* -- hero -- */
.hero-wrapper {
  background-color: #ccc;
  min-height: 300px;
}

/* -- intro -- */
.intro-wrapper {

}
.intro-wrapper .large {
  margin:0;
}

/* -- info1 -- */
.info1-wrapper {
  background-color: #EFEFEF;
}

/* -- images -- */
.images-wrapper {
  border-bottom: 4px solid #d02f2f;
  background-color: #ccc;
  min-height: 500px;
}

/* -- info2 -- */
.info2-wrapper {

}


/* -- quote -- */
.quote-wrapper {
  background-color: #d02f2f;
  text-align: center;
}
.quote-wrapper blockquote {
  font-family: "ff-enzo-web",sans-serif;
  font-weight: 300;
  font-size: 4.4vw;
  margin-right: 0;
  margin-left: 0;
}
.quote-wrapper cite {
  font-family: "freight-sans-pro",sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
}
@media screen and (min-width: 520px) {
  .quote-wrapper blockquote {
    font-size: 3.5vw;
  }
}
@media screen and (min-width: 1042px) {
  .quote-wrapper blockquote {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .quote-wrapper cite {
    font-size: 16px;
  }
}

/* -- info3 -- */


/* -- footer -- */
.footer-wrapper {
  background-color: #333;
}
.footer-wrapper .inner {
  padding: 10px 0;
}
.footer-wrapper .small {
  font-family: "freight-sans-pro",sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: #666;
}
