@import '../../colors/colors';

.image-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 8px;
    padding-top: 60%;
    background: #eaeaea;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        max-width: 100%;
        transform: translate(-50%, -50%);
    }
}

h3 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 4px;
    color: #333;
}
p {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: .1rem;
    color: #666;
}
a {
    text-decoration: none;
}


:host().cart-view {
    position: relative;
    display: block;
    padding: 20px 0;
    border-bottom: 1px solid #eaeaea;

    .remove {
        position: absolute;
        right:0;
        bottom: 20px;
        padding: 4px 8px;
        border: none;
        background-color: transparent;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: .1rem;
        cursor: pointer;
        
        &:hover {
            color: $primary-color;
        }
    }

    a {
        display: flex;
        flex-direction: row;
    }
    .image-wrapper {
        position: relative;
        width: 200px;
        height: 140px;
        margin-right: 20px;
        padding-top: 0;
        background: #eaeaea;
        font-size: 0;
        line-height: 0;
        overflow: hidden;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            max-width: 100%;
            transform: translate(-50%, -50%);
        }
    }
    .info {
        flex: 1 1;
        padding-top: 40px;
    }
}
