<header>
  <h1>
    <a routerLink="/">Acquire<span class="colon">:</span></a>
  </h1>
</header>

<nav>
  <ul>
    <li><a href="#" routerLink="/" >Home</a></li>
    <li><a href="#" routerLink="/cart" >Cart 
      <ng-container *ngIf="cartCount">({{cartCount}})</ng-container>
    </a></li>
  </ul>
</nav>

<main>
<router-outlet (activate)="onActivate($event)"></router-outlet>
</main>

<footer>
  <section>
    <div class="footer-links">
      <ul>
        <li><a href="/assets/common-dimensions.jpg" target="_blank">Common dimensions chart</a></li>
      </ul>
      <ul>
        <li><a href="https://www.linkedin.com/in/patrickemoore/" target="_blank">LinkedIn</a></li>
        <li><a href="https://github.com/patemoo" target="_blank">Github</a></li>
        <li><a href="https://twitter.com/PatMooreDesign" target="_blank">Twitter</a></li>
      </ul>
    </div>
    <div class="footer-form">
      <form 
        action="http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php"
        method="POST">
        <input type="email" name="email" placeholder="Email"/>
        <textarea name="message" placeholder="Drop us a line..."></textarea>
        <button id="submit">Send</button>
      </form>
    </div>
  </section>
    <p>Products and phtots sourced from <a href="https://fourhands.com/" target="_blank">Fourhands.com</a></p>

</footer>
