<image-carousel>
  <img carouselImage src="/assets/images/MAXX-SOFA-AND-OLIVIA-SQUARE-COFFEE-TABLE-WITH-JACK-LEATHER-ROCKER-AND-ZADIE-BOOKSHELF.jpg" alt="">
  <img carouselImage src="/assets/images/Liam-sectional-and-tinsley-coffee-table-rug.jpg" alt="">
  <img carouselImage src="/assets/images/Langham-channeled-sectional-and-olive-Ace-chair-and-Shannon-oval-coffee-table.jpg" alt="">
  <img carouselImage src="/assets/images/Monterey-outdoor-teak-chair-and-Sonora-outdoor-dining-bench.jpg" alt="">
</image-carousel>

<article>

  <product-card 
    *ngFor="let product of products" 
    [product]="product">
  </product-card>
  
</article>