@import '../../shared/colors/colors';

article {

    h1 {
        margin-bottom: 20px;
    }

    .cart-wrapper {
        margin-bottom: 80px;
        @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: row;
        }
    }

    .cart {
        flex: 1 1;

        @media screen and (min-width: 992px) {
            flex: 2 1;
        }

        .empty {
            color: #ccc;
        }
        
        .cart-item {
            padding: 20px 0;
            border-bottom: 1px solid #eaeaea;
            img {
                display: inline-block;
                width: 200px;
                margin-right: 8px;
            }
            h2 {
                display: inline
            }
        }

    }

    .checkout-wrapper {
        flex: 1 1;
        height: 228px;
        padding:  20px;
        background-color: #eaeaea;
        text-align: center;

        @media screen and (min-width: 768px) {
            margin-left: 40px;
        }

        .totals {
            p {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 8px;
                font-size: 14px;
                &:last-child {
                    font-weight: 700;
                }
                span {
                    display: inline-block;
                }
            }
        }

        .checkout-button {
            height: 32px;
            min-width: 140px;
            margin-top: 60px;
            padding: 8px 16px;
            background-color: $secondary-color;
            border: 1px solid $secondary-color;
            font-size: 12px;
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: .1rem;
            color: #fff;
            cursor: pointer;
            transition: background-color 180ms linear, border-color 180ms linear;
            &:hover {
                background-color: $primary-color;
                border: 1px solid $primary-color;
            }
        }

        
    }
       
}